<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>school server</key>
	<dict>
		<key>port</key>
		<string>3000</string>
		<key>protocol</key>
		<string>http</string>
		<key>host</key>
		<string>127.0.0.1</string>
	</dict>
	<key>school color</key>
	<string></string>
	<key>school name</key>
	<string>平和双语学校</string>
	<key>module identifiers</key>
	<dict>
		<key>Reminder</key>
		<string>YYReminderViewController</string>
		<key>Timeline</key>
		<string>YYTimelineViewController</string>
	</dict>
	<key>menu items</key>
	<dict>
		<key>student</key>
		<array>
			<dict>
				<key>title</key>
				<string>首页</string>
				<key>module</key>
				<string>Timeline</string>
			</dict>
			<dict>
				<key>title</key>
				<string>提醒事项</string>
				<key>module</key>
				<string>Reminder</string>
			</dict>
		</array>
		<key>teacher</key>
		<array>
			<dict>
				<key>title</key>
				<string>首页</string>
				<key>module</key>
				<string>Timeline</string>
			</dict>
			<dict>
				<key>title</key>
				<string>提醒事项</string>
				<key>module</key>
				<string>Reminder</string>
			</dict>
		</array>
		<key>parent</key>
		<array>
			<dict>
				<key>title</key>
				<string>首页</string>
				<key>module</key>
				<string>Timeline</string>
			</dict>
			<dict>
				<key>title</key>
				<string>提醒事项</string>
				<key>module</key>
				<string>Reminder</string>
			</dict>
		</array>
		<key>admin</key>
		<array>
			<dict>
				<key>title</key>
				<string>首页</string>
				<key>module</key>
				<string>Timeline</string>
			</dict>
			<dict>
				<key>title</key>
				<string>提醒事项</string>
				<key>module</key>
				<string>Reminder</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
